<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.afc</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.afc</string>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.afcd</string>
	</dict>
	<key>com.apple.ait.aitd</key>
	<dict>
		<key>Label</key>
		<string>com.apple.ait.aitd</string>
		<key>USBOnlyService</key>
		<true/>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.ait.client</string>
	</dict>
	<key>com.apple.atc</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.atc</string>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.atc</string>
	</dict>
	<key>com.apple.crashreportcopymobile</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.crashreportcopymobile</string>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.crashreportcopymobile</string>
	</dict>
	<key>com.apple.crashreportmover</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.crashreportmover</string>
		<key>XPCServiceName</key>
		<string>com.apple.crash_mover</string>
	</dict>
	<key>com.apple.hpd.mobile</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.hpd.mobile</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/hpd</string>
			<string>--lockdown</string>
			<string>-d</string>
			<string>/var/mobile/Media/HighlandPark</string>
			<string>-u</string>
			<string>mobile</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.iosdiagnostics.relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.iosdiagnostics.relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/ios_diagnostics_relay</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.misagent</key>
	<dict>
		<key>Label</key>
		<string>com.apple.misagent</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/misagent</string>
		</array>
	</dict>
	<key>com.apple.mobile.MCInstall</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<false/>
		<key>Label</key>
		<string>com.apple.mobile.MCInstall</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mc_mobile_tunnel</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.mobile.MDMService</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.MDMService</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/MDMService</string>
		</array>
	</dict>
	<key>com.apple.afc2</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true />
		<key>Label</key>
		<string>com.apple.afc2</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/afcd</string>
			<string>--lockdown</string>
			<string>-d</string>
			<string>/</string>
		</array>
	</dict>
	<key>com.apple.mobile.assertion_agent</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.assertion_agent</string>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.mobile.assertion_agent</string>
	</dict>
	<key>com.apple.mobile.debug_image_mount</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.debug_image_mount</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/debug_image_mount</string>
		</array>
	</dict>
	<key>com.apple.mobile.diagnostics_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.diagnostics_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_diagnostics_relay</string>
		</array>
	</dict>
	<key>com.apple.mobile.file_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.file_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_file_relay</string>
		</array>
	</dict>
	<key>com.apple.mobile.heartbeat</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>HeartBeat Monitor</string>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.lockdown.host_watcher</string>
	</dict>
	<key>com.apple.mobile.house_arrest</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>InstanceLimit</key>
		<integer>5</integer>
		<key>Label</key>
		<string>com.apple.mobile.house_arrest</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_house_arrest</string>
		</array>
	</dict>
	<key>com.apple.mobile.installation_proxy</key>
	<dict>
		<key>Label</key>
		<string>com.apple.mobile.installation_proxy</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_installation_proxy</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.mobile.mobile_image_mounter</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.mobile_image_mounter</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_storage_proxy</string>
		</array>
	</dict>
	<key>com.apple.mobile.notification_proxy</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.notification_proxy</string>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.mobile.notification_proxy</string>
	</dict>
	<key>com.apple.mobilebackup</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>5</integer>
		<key>Label</key>
		<string>com.apple.mobilebackup</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/BackupAgent</string>
			<string>--lockdown</string>
		</array>
	</dict>
	<key>com.apple.mobilebackup2</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>5</integer>
		<key>Label</key>
		<string>com.apple.mobilebackup2</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/BackupAgent2</string>
			<string>--lockdown</string>
		</array>
	</dict>
	<key>com.apple.mobilesync</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>5</integer>
		<key>Label</key>
		<string>com.apple.mobilesync</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/SyncAgent</string>
			<string>--lockdown</string>
			<string>--oneshot</string>
			<string>-v</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.pcapd</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>InstanceLimit</key>
		<integer>1</integer>
		<key>Label</key>
		<string>com.apple.pcapd</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/pcapd</string>
		</array>
	</dict>
	<key>com.apple.purpletestr</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.purpletestr</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/PurpleTestr</string>
			<string>--lockdown</string>
			<string>--oneshot</string>
		</array>
	</dict>
	<key>com.apple.radios.wirelesstester.mobile</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.radios.wirelesstester.mobile</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/WirelessTester</string>
			<string>-l</string>
			<string>1</string>
			<string>-o</string>
			<string>/var/mobile/WirelessTester_mobile.log</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.radios.wirelesstester.root</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.radios.wirelesstester.root</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/WirelessTester</string>
			<string>-l</string>
			<string>1</string>
			<string>-o</string>
			<string>/var/root/WirelessTester_root.log</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
	<key>com.apple.rasd</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.rasd</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/rasd</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.springboardservices</key>
	<dict>
		<key>Label</key>
		<string>com.apple.springboardservicesrelay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/springboardservicesrelay</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.syslog_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.syslog_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/syslog_relay</string>
			<string>--lockdown</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.thermalmonitor.thermtgraphrelay</key>
	<dict>
		<key>Label</key>
		<string>com.apple.thermalmonitor.thermtgraphrelay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/thermtgraphrelay</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.webinspector</key>
	<dict>
		<key>Label</key>
		<string>com.apple.webinspector</string>
		<key>USBOnlyService</key>
		<true/>
		<key>UserName</key>
		<string>mobile</string>
		<key>XPCServiceName</key>
		<string>com.apple.webinspector</string>
	</dict>
</dict>
</plist>
